/* ======================
SPINNER OVERLAY
====================== */

.spinner-overlay{

  position:fixed;
  inset:0;

  background:rgba(255,255,255,.7);
  backdrop-filter:blur(6px);

  display:flex;
  align-items:center;
  justify-content:center;

  z-index:9999;

  opacity:0;
  pointer-events:none;
  transition:.3s;
}

.spinner-overlay.show{
  opacity:1;
  pointer-events:auto;
}


/* ======================
SPINNER
====================== */

.spinner{

  width:54px;
  height:54px;

  border-radius:50%;

  border:5px solid #e3f2fd;
  border-top:5px solid #1e88e5;

  animation:spin 1s linear infinite;
}

@keyframes spin{
  to{
    transform:rotate(360deg);
  }
}


/* ======================
TEXT
====================== */

.spinner-text{
  margin-top:12px;
  font-weight:bold;
  color:#1e88e5;
  text-align:center;
}